@import url("https://fonts.googleapis.com/css?family=Karla:700i|Roboto+Condensed");
body {
  margin-top: 150px; }

h1 {
  font-family: "Karla", sans-serif;
  font-size: 4em;
  text-align: center;
  padding-bottom: 5px; }

a {
  color: inherit; }

a:hover {
  cursor: pointer; }

footer {
  margin-top: 5px;
  min-height: 5em;
  text-align: center; }
  footer a {
    padding: 0 30px; }

.zoom {
  position: relative;
  animation: 1s zoomies forwards; }

.rotate span {
  animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s;
  opacity: 0;
  overflow: hidden;
  position: absolute; }
.rotate span:nth-child(2) {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s; }
.rotate span:nth-child(3) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s; }
.rotate span:nth-child(4) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s; }

#menu {
  height: 65px;
  width: 100%;
  background-color: rgba(119, 136, 153, 0.3);
  z-index: 5;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  #menu a {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold; }

#aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  #aboutMe div:nth-child(3) {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5em;
    width: 95%;
    text-align: center;
    margin: 75px 0; }

#rotate-wrapper {
  padding-bottom: 40px;
  font-size: 2.25em;
  font-family: "Roboto Condensed", sans-serif;
  margin-right: 535px;
  margin-top: 0; }
  #rotate-wrapper span {
    width: 550px;
    text-align: center; }

#portfolio {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #portfolio div {
    height: 400px;
    padding: 15px;
    margin: 0 -15px; }
    #portfolio div img {
      width: 40%;
      float: right; }
    #portfolio div a {
      font-size: 1.5em;
      text-decoration: none; }
  #portfolio div:nth-child(even) {
    color: #ae95d8;
    border-top: none;
    border-right: none;
    background-color: #2d2727; }
  #portfolio div:nth-child(odd) {
    border-left: none;
    border-top: none;
    background-color: white;
    box-shadow: inset 6px 6px 6px 6px black; }

@keyframes imgfader {
  from {
    opacity: 0;
    transform: translateX(-2em); }
  to {
    opacity: 1; } }
@keyframes textfall {
  from {
    transform: translateY(-2em); } }
@keyframes textscroll {
  from {
    opacity: 0;
    transform: translateX(-50px); }
  to {
    opacity: 1; } }
@keyframes slider {
  from {
    background-color: transparent; }
  to {
    transform: translateY(0px);
    background-color: black; } }
/*topToBottom Animation*/
@-moz-keyframes topToBottom {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -moz-transform: translateY(-50px); }
  10% {
    opacity: 1;
    -moz-transform: translateY(0px); }
  25% {
    opacity: 1;
    -moz-transform: translateY(0px); }
  30% {
    opacity: 0;
    -moz-transform: translateY(50px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes topToBottom {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px); }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  30% {
    opacity: 0;
    -webkit-transform: translateY(50px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes topToBottom {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -ms-transform: translateY(-50px); }
  10% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  25% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  30% {
    opacity: 0;
    -ms-transform: translateY(50px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes border {
  0% {
    border-top: 0px black; } }

/*# sourceMappingURL=final.css.map */
