@import url('https://fonts.googleapis.com/css?family=Contrail+One|Josefin+Sans:300i|Karla:700i');
$Josefin: 'Josefin Sans', sans-serif;
$Contrail: 'Contrail One', sans-serif;
$Karla: 'Karla', $Contrail;

body {
  background-color: #294454;
}

h1 {
  text-align: center;
  font-family: $Josefin;
  font-size: 5em;
  letter-spacing: 2px;
  margin-top: .5em;
  color: white;
  // margin: 1em 0;
}


footer {
  min-height: 5em;
  padding: 2em 0 1.5em 0;
  text-align: center;
  background-color: #4d6471;
  color: white;
  font-family: $Karla;
  a {
    color: inherit;
    padding: 0 .5em;
  }
}


.port-item {
  text-align: center;
  h3 {
    font-family: $Contrail;
    font-size: 2em;
    color: white;
    padding-top: 1em;
    // padding-bottom: .25em;
  }
  img {
    width: 100%;
    height: auto;
  }
}
