footer {
  min-height: 5em;
  padding: 2em 0 1.5em 0;
  text-align: center;
  background-color: #4d6471;
}

.port-item {
  text-align: center;
  padding: 1em;
  img {
    height: 150px;
    width: auto;
  }
}
