html {
  scroll-behavior: smooth;
}

nav {
  background: linear-gradient(#70C6FA, #FFFFFF);
  // position: fixed;
  // top: 0;
  padding-top: 30vh;
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  padding-top: 40vh;
}
