html {
  scroll-behavior: smooth;
}

nav {
  background: linear-gradient(#70C6FA, #FFFFFF);
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 8vh;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  a {
    padding-top: 1vh;
    font-weight: bold;
  }
}

.container {
  padding-top: 20vh;
  > .row:nth-child(2) {
    margin: 8vh 0;
    background-color: #f4f4f4;
  }

}

.about {
  img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  .socials {
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
}

.organizer {
  text-align: center;
  .col-lg-4 {
    margin-bottom: 3vh;
  }
}
