@import url('https://fonts.googleapis.com/css?family=Contrail+One|Josefin+Sans:300i|Karla:700i');
$Josefin: 'Josefin Sans', sans-serif;
$Contrail: 'Contrail One', sans-serif;
$Karla: 'Karla', $Contrail;

h1 {
  font-family: $Josefin;
  font-size: 4em;
  color: white;
}

a {
  color: inherit;
}

a:hover {
  cursor: pointer;
}

span {
  display: block;
}

footer {
  background-color: #4d6471;
  min-height: 5em;
  padding: 2em 0 1.5em 0;
  text-align: center;
  color: white;
  font-family: $Karla;
  a {
    padding: 0 .5em;
  }
}

#hero {
  background: url(http://i.imgur.com/kAE9FLz.jpg) center center;
  background-size: cover;
  min-height: 500px;
  text-align: center;
  animation: 2s imgfader 1;
    h1 {
      animation-delay: 1s;
      animation: 2s textfall 1;
      margin-top: .5em;
    }
    h2 {
      font-family: $Contrail;
      color: white;
      font-size: 3em;
      animation: 2s textscroll 1;
      margin-top: .5em;
    }
    h3 {
      font-size: 3em;
      font-family: $Contrail;
      color: white;
      margin-top: 1.9em;
      margin-bottom: .25em;
    }
    button {
      margin-left: 1em;
      margin-bottom: 1em;
    }
}

#aboutMe {
  padding: 3em 3em;
  background-color: #294454;
  img {
    max-width: 15em;
    max-height: auto;
  }
  h2 {
    font-family: $Contrail;
    color: white;
    font-size: 2.5em;
    text-decoration: underline;
    text-decoration-color: white;
    text-align: left;
    margin-bottom: .5em;
  }
  span {
    font-family: $Josefin;
    font-size: 1.6em;
    color: white;
  }
  p {
    padding-top: 1.3em;
    font-size: 1.25em;
    color: white;
  }
}

@keyframes imgfader {
  from {
    opacity: 0;
    transform: translateX(-2em);
  }
  to {
    opacity: 1;
  }
}

@keyframes textfall {
  from {
    transform: translateY(-2em);
  }
  to {
    // transform: translateY();
  }
}

@keyframes textscroll {
  from {
    opacity: 0;
    transform: translateX(2em);
  }
  to {
    opacity: 1;
    // transform: translateX(0em);
  }
}

@keyframes slider {
  from{
    background-color: rgba(0,0,0,0);
  }
  to {
    transform: translateY(0px);
    background-color: rgba(0,0,0,1);
  }
}
